body {
    background-color: #083b4c;
}

h1 {
    text-align: center;
    color: white;
}

.box {
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #1389b2;
    list-style: none;
    margin: 1rem;
}

.buzz {
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #ffd166;
    list-style: none;
    margin: 1rem;
}

.fizz {
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #0bd6a0;
    list-style: none;
    margin: 1rem;
}

.fizzbuzz {
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #f0466f;
    list-style: none;
    margin: 1rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
}